@model LoginModel
@{
    ViewBag.Title = "Home";
    Layout = "_InstructorLayout";
}

<div class='middlenav'>
    <a asp-action="SetAvailability" class="button"><p class='buttonText'>Set Availability</p></a>
    <a href="" class="button"><p class='buttonText'>View Schedule</p></a>
    <a asp-action="AccountDetails" class="button"><p class='buttonText'>Account Details</p></a>
</div>