@model LoginModel
@{
    ViewBag.Title = "Home";
    Layout = "_AdminLayout";
}


<div class='middlenav'>
    <a href="" class="button"><p class='buttonText'>List of Instructors</p></a>
    <a asp-action="RoomsList" class="button"><p class='buttonText'>List Of Rooms</p></a>
    <a href="" class="button"><p class='buttonText'>List Of Courses</p></a>
    <a href="" class="button"><p class='buttonText'>List Of Schedules</p></a>
    <a href="" class="button"><p class='buttonText'>Create Schedules</p></a>

</div>
