@model  LoginModel
@{ 
    ViewBag.Title = "Log in";
    ViewBag.Style = "/css/Login.css";
    Layout = "_HomeLayout";
 }

<div asp-validation-summary="All" class="text-danger"></div>

<div class="login-page">
    <div class="form">
        <form asp-action="Login" asp-controller="Home" method="post" >
            <input type="hidden" asp-for="ReturnUrl" />
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name"  placeholder="username"/>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input asp-for="Password" placeholder="password"/>
            <button type="submit" class="btn-primary">Log in</button>
        </form>
    </div>
</div>
