@model  LoginModel
@{ 
    ViewBag.Title = "Log in";
    Layout = "_Layout";
 }

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Login" asp-controller="Home" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn-primary">Log in</button>
</form>