@model CourseValidation
@{
    ViewBag.Title = "Course validation";
    ViewBag.Style = "/css/styles2.css";
    Layout = "_CoordinatorLayout";
}

<div class='maincontent'>
    <h1>Select Courses: </h1>
    <form asp-action="UpdateDesiredCourses" asp-controller="Coordinator" method="post">


        @for (var i = 0; i < Model.DesiredCourses.Count(); i++)
        {
            <label>
                <input type="hidden" asp-for="@Model.DesiredCourses[i].DesiredCourseID" />
                <input asp-for="@Model.DesiredCourses[i].IsQualified" />
                @Model.Courses.FirstOrDefault(c => c.CourseID == Model.DesiredCourses[i].CourseID).CourseName
            </label>
        }
        <br>
        <input type="submit" class="button" value="Save">
    </form>
</div>